form {
    border-radius: 30px;
    background-color: #F7F7F7;
    opacity: 0.88;
    .input-wrap {
        display: flex;
        background-color: #fff !important;
        box-shadow: 2px 2px 35px 0 rgba(0, 0, 0, 0.08);
        margin: 12px auto;
        width: 100%;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 10px 10px 10px 19px;
        img {
            align-self: center;
        }
    }
    .input {
        width: 100%;
        color: #C8689B;
        font-size: 14px;
        padding: 0 0 0 10px;
        &:focus {
            outline: none;
        }
    }
    input::placeholder, &:-webkit-autofill {
        color: #C8689B !important;
        background-color: #fff !important;
        opacity: 1;
    }

}
.login {
    text-align: center;
    padding: 30px 20px !important;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    form {
        text-align: center;
        padding: 40px 30px !important;
        .logo {
            margin-bottom: 25px;
            max-width: 100%;
        }
        .btn {
            margin-top: 10px;
        }
        a {
            margin: 25px 0 0;
            display: block;
        }
    }
}